In [1]:
import pandas as pd
from pyspark.sql import *
from pyspark.sql.types import *

In [3]:
spark = SparkSession.builder.appName("demo-app").getOrCreate()

In [4]:
csvFile2 = spark.read.csv('esconv.csv', header=True, sep=';', inferSchema=True)

In [9]:
df3 = csvFile2.toDF(*(c.replace(',', '_') for c in csvFile2.columns))

In [13]:
df4 = df3.toDF(*(c.replace(' ', '_') for c in df3.columns))

In [16]:
df5 = df4.toDF(*(c.replace('(', '') for c in df4.columns))

In [19]:
df6 = df5.toDF(*(c.replace(')', '') for c in df5.columns))

In [29]:
df7 = df6.withColumnRenamed("CBO_Ocupa��o_2002", "cbo")

In [34]:
df7 = df7.withColumnRenamed("Faixa_Remun_M�dia_SM", "media_salario")

In [38]:
df7.write.saveAsTable("tra2")

In [77]:
df7.columns

['Bairros_SP',
 'Bairros_Fortaleza',
 'Bairros_RJ',
 'Causa_Afastamento_1',
 'Causa_Afastamento_2',
 'Causa_Afastamento_3',
 'Motivo_Desligamento',
 'cbo',
 'CNAE_2.0_Classe',
 'CNAE_95_Classe',
 'Distritos_SP',
 'V�nculo_Ativo_31/12',
 'Faixa_Et�ria',
 'Faixa_Hora_Contrat',
 'Faixa_Remun_Dezem_SM',
 'media_salario',
 'Faixa_Tempo_Emprego',
 'Escolaridade_ap�s_2005',
 'Qtd_Hora_Contr',
 'Idade',
 'Ind_CEI_Vinculado',
 'Ind_Simples',
 'M�s_Admiss�o',
 'M�s_Desligamento',
 'Mun_Trab',
 'Munic�pio',
 'Nacionalidade',
 'Natureza_Jur�dica',
 'Ind_Portador_Defic',
 'Qtd_Dias_Afastamento',
 'Ra�a_Cor',
 'Regi�es_Adm_DF',
 'Vl_Remun_Dezembro_Nom',
 'Vl_Remun.1_Dezembro.1_SM',
 'Vl_Remun.2_M�dia.1_Nom',
 'Vl.1_Remun.3_M�dia.2_SM',
 'CNAE_2.0.1_Subclasse',
 'Sexo_Trabalhador',
 'Tamanho_Estabelecimento',
 'Tempo_Emprego',
 'Tipo_Admiss�o',
 'Tipo_Estab41',
 'Tipo_Estab42',
 'Tipo.1_Defic',
 'Tipo_V�nculo']

In [62]:
ttcsv = spark.sql("SELECT SUBSTR(Sexo_Trabalhador, 4, 2) AS sexo, cbo, media_salario FROM tra2 where SUBSTR(cbo, 1, 3) = 212 and SUBSTR(Sexo_Trabalhador, 4, 2) = '02' ")
ttcsv.show()

+----+------+-------------+
|sexo|   cbo|media_salario|
+----+------+-------------+
|  02|212405|            9|
|  02|212405|            6|
|  02|212405|            4|
|  02|212405|            9|
|  02|212405|            8|
|  02|212405|            4|
|  02|212420|            3|
|  02|212405|            5|
|  02|212420|            4|
|  02|212405|            2|
|  02|212405|            2|
|  02|212405|            4|
|  02|212305|            4|
|  02|212405|            8|
|  02|212405|            6|
|  02|212405|            8|
|  02|212420|            2|
|  02|212405|            9|
|  02|212405|            8|
|  02|212405|            7|
+----+------+-------------+
only showing top 20 rows

In [70]:
ttcsv = spark.sql("SELECT AVG(media_salario) as media_homem FROM tra2 where SUBSTR(cbo, 1, 3) = 212 and SUBSTR(Sexo_Trabalhador, 4, 2) = '01' ")
ttcsv.show()

+-----------------+
|      media_homem|
+-----------------+
|6.590268886043534|
+-----------------+

In [69]:
ttcsv = spark.sql("SELECT AVG(media_salario) as media_mulher FROM tra2 where SUBSTR(cbo, 1, 3) = 212 and SUBSTR(Sexo_Trabalhador, 4, 2) = '02' ")
ttcsv.show()

+-----------------+
|     media_mulher|
+-----------------+
|7.003921568627451|
+-----------------+

In [78]:
ttcsv = spark.sql("SELECT SUBSTR(AVG(media_salario),1 ,1) as media_salario FROM tra2 where SUBSTR(cbo, 1, 3) = 212 and SUBSTR(Sexo_Trabalhador, 4, 2) = '02' UNION ALL SELECT SUBSTR(AVG(media_salario),1 ,1) as media_mulher FROM tra2 where SUBSTR(cbo, 1, 3) = 212 and SUBSTR(Sexo_Trabalhador, 4, 2) = '01' ")
ttcsv.show()

+-------------+
|media_salario|
+-------------+
|            7|
|            6|
+-------------+